.container {
    background-image: linear-gradient(to right bottom, rgba(65, 43, 45, 0.44), rgba(62, 77, 88, 0.8)), url('../images/LargeDark.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    //background-size:contain;
    background-position:center;
}

.mainButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link {
    transition: all .2s;
}

.link:hover {
    transform: scale(1.1) translateY(-0.5rem);
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
}


.btnMarginSmall {
    margin: 0 1rem;
}

.showTournament {
    /*display: flex;*/
    justify-content: center;
    height: 100vh;
}

.createFormStyle {
    padding: 5%;
    height: 100vh;
}

.addUsersTitle {
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 700;
}

.createTournamentButton {
    margin-top: 5%;
    width: 100%;
}

.loadingWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsWrapper {
    min-height: 100vh;
}

.cardItem {
    cursor: pointer;
    width: 25%;
    padding: 5%;
}

@media (max-width : 775px) {

    .container {
        background-image: linear-gradient(to right bottom, rgba(65, 43, 45, 0.44), rgba(62, 77, 88, 0.8)), url('../images/mobileBackground.webp');
    }

    .cardsWrapper {
        font-size: 12px;
    }

    .cardItem {
        width: 33%;
    }
}

@media (max-width : 480px) {

    .mainButtons {
        flex-direction: column;
    }

    .btnMarginSmall {
        margin: 1rem 0;
    }

    .cardItem {
        width: 50%;
    }
}

