.container {
    background-image: url('../images/sport_2-wallpaper-1920x1200.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    //background-size:contain;
    background-position:center;
}

.mainButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.showTournament {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.createFormStyle {
    padding: 5%;
}

.addUsersTitle {
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 700;
}

.createTournamentButton {
    margin-top: 5%;
    width: 100%;
}

.cardsWrapper {
    min-height: 100vh;
}

.cardItem {
    cursor: pointer;
    width: 25%;
    padding: 5%;
}

@media (max-width : 775px) {
    .cardsWrapper {
        font-size: 12px;
    }

    .cardItem {
        width: 33%;
    }
}

@media (max-width : 480px) {
    .cardItem {
        width: 50%;
    }
}

