.ui.basic.buttons.buttonStyle {
    font-size: 25px !important;
}

.matchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.resultOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 195px;
}

.tieOption {
    min-width: 150px;
}

@media (max-width : 775px) {
   .matchContainer {
       display: grid;
       margin-bottom: 10px;
       width: unset;
   }
}

