.tournamentBody {
    margin-top: 5%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.padding5 {
    padding: 5%;
}

.width25 {
    width: 25%;
}

.tableBody {
    display: table-row-group !important;
}

.matchesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}

.tableWrapper {
    padding: 5%;
}

@media (max-width: 767px) {
    .ui tbody{
        display: table-row-group !important;
    }

    .matchesWrapper{
        justify-content: space-between;
    }
}

@media (max-width: 600px){
    .matchesWrapper {
        justify-content: center;
    }
}
