.tournamentWrapper {
    min-height: 100vh;
}

.tournamentBody {
    margin-top: 5%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.padding5 {
    padding: 5%;
}

.width25 {
    width: 25%;
}

.tableBody {
    display: table-row-group !important;
}

.desktopMenu {
    padding-right: 20px;
}

.matchesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
}

.tableWrapper {
    padding: 5%;
}

@media (max-width: 767px) {
    .ui tbody{
        display: table-row-group !important;
    }

    .matchesWrapper{
        justify-content: space-between;
    }
}

@media (max-width: 600px){
    .matchesWrapper {
        justify-content: center;
    }
}


/*POPup animation*/

.enter {
    opacity: 0.01;
    transform: scale3d(0.1, 0.1, 0.1);
    transition: all 1s ease-in;
}

.enterActive {
    opacity: 1;
    transform: none;
    /*transform: none;*/
    /*transform: none;1;*/
}

.leave {
    opacity: 1;
    transform: none;
    transition: all 1s ease-in;
}
.leave.leaveActive {
    transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0.01;
}
