.ui.basic.buttons.buttonStyle {
    font-size: 25px !important;
}

.resultOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 195px;
}

.tieOption {
    width: 150px;
}

