.ui.basic.buttons.buttonStyle {
    font-size: 25px !important;
}

.resultOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 195px;
}

.tieOption {
    min-width: 150px;
}

