.ui.basic.buttons.buttonStyle {
    font-size: 25px !important;
}

.resultOption {
    display: flex;
    justifyContent: space-between;
    alignItems: center;
    minWidth: 195px;
}

.tieOption {
    minWidth: 150px;
}

